p {
    border: solid 1px blueviolet;
    max-width: 600px;
    margin: auto;
}

h1 {
    color: darkcyan;
    text-align: center;
}

.photo{
    display: flex;
    justify-content: center;
}

.photo img {
    max-width: 200px;
    max-height: 200px;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.qwe {
    max-width: 100px;
    max-height: 100px;
    padding: 50px;
    margin: 5px;
    background-color: blue;
}